/* src/components/Hero.css */

.hero-section {
    width: 100%;
    background-image: url('../assets/bg-image1.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 1));
    pointer-events: none;
  }
  